<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "aligatores"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Aligatores</name>

    <description>
        App de Aligatores SC
    </description>

    <author href="http://www.google.com" email="mandoca@gmail.com">
        M2k
    </author>
</widget>
