html {
    height: 100%;
}

body {
    font-family: source-sans-pro, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}